*{
margin: 0;
padding: 0;
}

body {
font-family: Calibri;
background-color: #000;
color: #fff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
font-family: Arial, sans-serif;
margin: 20px;
display: flex;
height: 80vh;
justify-content: center;
align-items: center;
}

#cut{
box-shadow:
2px 2px 0px rgba(0, 0, 0, 0.9),
2px 2px 0px rgba(0, 0, 0, 0.9),
2px 2px 0px rgba(0, 0, 0, 0.9);
border: 1px dotted rgba(255, 255, 255, 0.55);
padding: 25px;
display: flex;
justify-content: center;
flex-direction: column;
}

h1{
color:#fff;
}
.container {
max-width: 400px;
margin: 0 auto;
}


input, button {
width: 100%;
padding: 10px;
margin: 10px 0;
box-sizing: border-box;
outline: none;
font-family: Verdana;
border: none;
border-radius: 3px;
text-align: center;
font-size: 16px;
}

input:hover{
transition: .1s;
border:2px dotted red;
opacity: 80%;
}

.result {
margin-top: 20px;
word-wrap: break-word;
text-align: center;
background: rgba(0, 0, 0, 0.62);
font-family:Verdana;
width: 100%;
border-radius:4px;
}

a{
text-decoration: none;
color:red;
}

a::before{
content:'Link : ';
color:#fff;
}

button{
cursor: pointer;
background: #000;
color:#fff;
border:none;
font-family: Verdana;
border-radius: 4px;
}

button:hover{
opacity: 90%;
border:3px solid #fff;
transition: .2s;
}
